* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: inherit;
    color: inherit;
}

ul {
    list-style: none;
}

/*------header------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    box-sizing: border-box;
    height: 100px;
    z-index: 1;
    background-color: #fff;
}

header img {
    width: 40%;
    display: block;
}

nav ul {
    display: flex;

}

nav .fa-solid {
    display: none;
}

nav li {
    margin-right: 70px;
    font-weight: bold;
}

nav li:nth-child(1) {
    margin-right: 70px;
}

nav li:last-child {
    margin: 0px;
}


/*------visual------*/
#visual .bg {
    background-image: url(../img/main_visual_bg.jpg);
    background-position: top left;
    width: 100%;
    height: 100%;
    background-size: 50px;
    position: relative;
    padding-top: 100px;
    height: 100vh;
}

#visual .wrap {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#visual .wrap .main_pc {
    width: 984px;
}

#visual .wrap .main_mo {
    display: none;
}

#visual ul {
    position: fixed;
    top: 150px;
    right: 10px;
    z-index: 1;
}


#visual li img {
    width: 100%;
    margin: 5px 0px;
}

#visual li {
    width: 42px;
}

#visual p {
    color: #555;
    margin-top: 40px;
}

/*------container------*/



/*------con01------*/
.con01 {
    padding: 50px;
    width: 1200px;
    box-sizing: border-box;
    margin: 0px auto;
}

.con01 .title {
    text-align: center;
}

.con01 .title h2 {
    font-size: 45px;
}

.con01 .title .more {
    color: #333;
    border: 1px solid #333;
    width: 220px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    margin: 50px auto;

}

.con01 .title .more:hover {
    background-color: #333;
    color: #fff;
}

.con01 .title .more:hover img {
    filter: brightness(10)
}

.con01 .title .more a {
    display: block;
    font-size: 14px;
}

.con01 ul {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    margin: 0px auto;
}

.con01 li {
    position: relative;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: calc(100% / 4 - 17px);




}



/*------con01 ul------*/

.con01 ul .hidden {
    position: absolute;
    width: 100%;
    right: 0px;
    top: 0px;
    border-radius: 20px 20px 0px 0px;
    display: block;
}

.con01 ul .view {
    width: 100%;

}

.con01 li:hover img:nth-child(2) {
    opacity: 0;
    transition: 0.2s
}


.con01 .txt {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.con01 .txt {
    text-align: center;

}

.con01 ul .txt h3 {
    font-weight: normal;
    font-size: 19px;
    letter-spacing: -2px;
}

.con01 li a {
    display: block;
    height: 100%;
}

.con01 h4 {
    color: #ccc;
    font-weight: normal;
    font-size: 15px;
}

/*------con02------*/
.con02 {
    background-color: #F5F5F5;
    padding: 80px;
}

.con02 h2 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 40px;
}

.con02 ul {
    display: flex;
    justify-content: center;
}

.con02 li {
    text-align: center;
    padding: 0px 35px;
}

.con02 li:nth-child(2) {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.con02 li h3 {
    margin: 20px 0px;
}

.con02 li p {
    color: #777;
    font-size: 17px;
    margin: 20px 0px 40px;
    word-break: keep-all;
}

.con02 li div {
    color: #999;
    border: 1px solid #777;
    width: 100px;
    margin: 0px auto;
    height: 30px;
    line-height: 25px;
    border-radius: 15px;
}

.con02 li div:hover {
    background-color: #000;
    color: #fff;
    transition: 0.3s
}

.con02 li div a {
    display: block;
}

/*------con03------*/
.con03 {
    background-image: url(../img/bg_recruit.png);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px;
    margin: 0px auto;
}

.con03 h2 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 40px;
}

.con03 ul {
    display: flex;
    justify-content: center;
}

.con03 li {
    text-align: center;
    padding: 0px 35px;
}



.con03 li h3 {
    margin: 20px 0px;
}

.con03 li p {
    color: #777;
    font-size: 17px;
    margin: 20px 0px 40px;
    word-break: keep-all;
}

.con03 li .more {
    color: #999;
    border: 1px solid #777;
    width: 100px;
    margin: 0px auto;
    height: 30px;
    line-height: 25px;
    border-radius: 15px;
}

.con03 li .more a {
    display: block;
}

.con03 li .more:hover {
    background-color: #000;
    color: #fff;
    transition: 0.3s
}


/*------con04------*/
.con04 {
    background-image: url(../img/bg_shop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;

    text-align: center;
}

.con04 .wrap {
    padding: 60px 0px 200px;
}

.con04 h2 {
    font-size: 50px;
    margin-bottom: 40px;
}

.con04 .wrap div {
    border: 1px solid #777;
    width: 240px;
    margin: 0px auto;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
}

.con04 div a {
    display: block;
    font-size: 15px;
    color: #333;
}

.con04 .wrap div:hover {
    background-color: #000;

}

.con04 .wrap div:hover a {
    color: #fff;
}

.con04 .wrap div:hover img {
    filter: brightness(10);
}

/*------con05------*/
.con05 {
    background-color: #4A679E;
    padding: 80px;
}

.con05 .top {
    text-align: center;
    color: #fff;
}

.con05 .top h2 {
    font-size: 50px;
    margin: 20px 0px 30px;
}

.con05 .top img {
    filter: brightness(10);

}

.con05 .top div {
    border: 1px solid #fff;
    width: 220px;
    margin: 0px auto;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
}

.con05 .top div a {
    display: block;
}

.con05 .top div:hover {
    background-color: #fff;
    color: #000;
    transition: 0.3s;
}

.con05 .top div:hover img {
    filter: brightness(0);
    transition: 0.3s;
}

.con05 .bottom {
    display: flex;
    width: 65%;
    margin: 50px auto 0px;
    background-color: #fff;
    height: 350px;
    border-radius: 20px;
    word-break: keep-all;
    position: relative;

}

.con05 .bottom .left {
    width: 50%;
}

.con05 .bottom iframe {
    width: 100%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
}

.con05 .bottom .right {
    width: 50%;
    padding: 40px;
    box-sizing: border-box;
}

.con05 .bottom .right h3 {
    font-weight: normal;
    font-size: 25px;
    line-height: 40px;
}

.con05 .bottom .right p {
    color: #999;
    font-size: 14px;
    margin-top: 10px;
}

.con05 .bottom .right ul {
    margin-top: 20px;
}

.con05 .bottom .right span {
    font-style: italic;
    font-weight: bold;
    color: #4A679E;
}

.con05 .bottom>img {
    position: absolute;
    right: 25px;
    bottom: -50px;
}



/*------footer------*/
footer {
    background-color: #222;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .left {
    color: #777;
    font-size: 14px;
    font-weight: bold;
}

footer .right {
    color: #fff;
    font-size: 14px;
    border: 1px solid #fff;
    width: 200px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
}

footer .right a {
    display: block;
}

footer .top {
    color: #fff;
    position: fixed;
    right: 10px;
    bottom: 50px;
    border-radius: 15px;
    background-color: #4A679E;
}

footer .top img {
    display: block;
    margin: 0px auto;
}


footer .top .txt {
    /* display: table-cell;
    vertical-align: middle; */
    padding: 15px;
    text-align: center;
    cursor: pointer;
}