* {
    margin: 0px;
    padding: 0px;
}

.wrap {
    background-image: url(../img/pic1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px;
    width: 800px;
    margin: 20px auto;
}

.wrap h3 {
    color: #fff;
    font-size: 60px;
    text-align: center;

}

.smart {
    background-color: red;
    width: 500px;
    text-align: center;
    margin: 0px auto;
    height: 120px;
    line-height: 120px;
    margin-top: 40px;
}

.smart h2 {
    font-size: 100px;
    color: #fff;
    letter-spacing: -7px;
}