* {
  margin: 0;
  padding: 0;
}

/*==================================*/

/*content*/
.content {
  height: 100vh;
  width: 70%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 18px;
  color: #444;
  border: 2px solid #ccc;
  border-radius: 30px;
  padding: 50px;
  word-break: keep-all;
}

#open {
  font-size: 20px;
  font-weight: bold;
  margin-top: 50px;
  color: #fff;
  background-color: tomato;
  width: 180px;
  height: 50px;
  border-radius: 20px;
  border: 1px solid #666;
  box-shadow: 1px 1px 10px #666;
}
/*modalBox*/
#modalBox {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

#modalBox.on {
  display: flex;
}

#modalContent {
  width: 50%;
  padding: 20px;
  background-color: #fff;
  position: relative;
}
#close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 24px;
  border: 0;
  background-color: transparent;
}
img {
  width: 100%;
}
#modalContent h2 {
  margin: 20px 0px;
}
.modalText {
  margin-top: 20px;
}
.modalText p {
  margin: 10px 0px;
}
